.page_layout{
  width: 100%;
  height: 100%;
  
  .header{
    width: 100%;
    height: 60px;
    display: flex;
    padding: 0px 20px;
    justify-content: space-between;
    border-bottom: 1px solid #f0f0f0;
    box-shadow: 0 0 16px 0 rgba(22, 81,163,0.05);
    .header_left{
      img{
        width: 177px;
        height: 59px;
        display: block;
      }
    }
    .header_right{
      display: flex;
      align-items: center;
      .icon{
        margin: 0 10px;
      }
    }
  }
  .layout_container{
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
  }
  .layout_left{
    width: 240px;
    height: inherit;
    border-right: 1px solid #f0f0f0;
  }
  .layout_right{
    flex: 1;
    height: inherit;
    
  }
}